.main{
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;

}
.block{
    float: left;
    width: 50%;
    background: #eeeeee;
    border: aliceblue thin solid;
    padding: 20px;
    margin: 20px;
    border-radius: 6px;
}
.rot{
    float: left;
    width: 33%;
}