    <!doctype html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Main</title>
        <link rel="stylesheet" href="/public/astatic.css/style.css" type="text/css"/>
        <link rel="stylesheet" href="/public/style.css"/>
        <script>
            document.createElement("header");
            document.createElement("nav");
            document.createElement("section");
            document.createElement("footer");
        </script>
    </head>
    <body>
    <header>
        <img src="/public/img/111.jpg"/>
        <nav>
            <ul id="nav1">
                <li><a href="#"><i class="fa fa-"></i>AdminPanel</a></li>



                <li><a href="/public/adminPanel.html"><i class="fa fa-"></i>Production</a></li>


            </ul>
        </nav>
    </header>
    <section id="picture"> </section>
    <section>
        <aside id="leftBar">

        </aside>
    </section>

    <footer>

    </footer>


    </body>
    </html>